@use '../../style/globals.scss';

.sectionStyle {
    padding: 8px;
   
    .newsStyle {
        border: 1px solid black;
        border-radius: 8px;
        margin: 8px;
        font-family: "Montserrat", sans-serif;

        .datoStyle {
            color: globals.$color_red;
            display: flex;
            flex-direction: row;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
        }
    }
}


@media (min-width: 768px) {
    .sectionStyle {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 8px;
    }
}