@use '../../style/globals.scss';

.sectionStyle {
    background-color: globals.$color_sand;
    padding: 8px;

    h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
    }

    .searchStyle {
        display: flex;
        flex-direction: row;
        border: 1px solid #00000027;
        border-radius: 25px;
        position: relative;
        height: 45px;

        img {
            position: absolute;
            object-fit: cover;
            height: 45px;
            left: 5px;

        }

        input {
            border: none;
            width: 100%;
            border-radius: 25px 0 0 25px;
            padding-left: 50px;
        }

        button {
            background-color: globals.$color_red;
            color: globals.$color_white;
            border-radius: 0 25px 25px 0;
            border: 1px solid #00000027;
            width: 25%;

        }

    }
}

.filterStyle {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    gap: 1rem;


    select {
        border-radius: 25px;
        border: 1px solid #00000027;
        padding: 8px;

    }

}


@media(min-width: 768px) {

    .filterStyle {
        display: flex;
        flex-direction: row;
        font-family: "Montserrat", sans-serif;
        justify-content: space-between;


        select {
            margin-top: 1rem;
            border-radius: 25px;
            border: 1px solid #00000027;
            padding: 8px;
            height: 40px;

        }

    }

}