@use '../../style/globals.scss';

.formStyle {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: globals.$color_white;
    align-items: center;

    h2 {
        font-weight: 300;
    }

    label {
        font-family: "Montserrat Alternates", sans-serif;
        text-align: start;
    }

    input {
        font-family: "Montserrat Alternates", sans-serif;
        background-color: globals.$color_sand;
        border: none;
        padding: 8px;

    }
    
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    button {
        background-color: globals.$color_darkRed;
        color: globals.$color_white;
        border: none;
        border-radius: 8px;
        width: 25%;
        padding: 5px;
        margin-top: 8px;

    }

    a {
        text-decoration: none;
        color: globals.$color_red;
        margin-bottom: 1rem;
    }
}


@media (min-width: 768px) {
    .formStyle {
       
    }
}