@use '../../style/globals.scss';

.navStyle {
    background-color: globals.$color_darkRed;
    

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: globals.$color_white;
                font-family: "Montserrat Alternates", sans-serif;

                &:hover{
                    font-weight: bold;
                    text-decoration: underline;
                }
            }


        }
        div {
            display: flex;
            
            li {
                padding: 0 8px;
            }
            > li:last-of-type {
                border-left: solid 1px #fff;
            }
        }
    }
}